
body{
    background-color: #fafaf9;
    padding-top: 9em;
    
}
.container{
    margin-left: auto;
    margin-right: auto;
    height: 370px;
    width: 30%;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    background-color: #ffffff;
    border-radius: 10px 10px 0 0;
    line-height: 20px;
   
}
.card{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}
.card img{
    width: 98%;
    height: 50%;
    border-radius: 10px;
}
.mini{
    margin: auto;
    float: left;
    background-color: #E6D6FC;
    border-radius: 10px;
    margin-left: 10px;
    float: left;
    width: 50px;
    height: 20px;
    
}
.mini p{
    color: #883AE1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-small;
    font-weight: bold;
    text-align: center;
    margin-top: -1px;
}
article{
    float: left;
    margin-left: 10px;
}
article h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
article p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6C727F;
}
.tag{
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 30%;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    margin-top: -14px;
    
}
.tag p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #6C727F;
    margin-left: 10px;
}